<section class="contact-section">
  <div class="card">
  <h2>Contáctanos</h2>
<div class="button">
    <button class="custom-button" disabled><mat-icon>phone</mat-icon><span>998 242 0184</span></button>
    <button class="custom-button" disabled><mat-icon>email</mat-icon><span>contacto@ankyrarealty.com</span></button>
</div>
  <img src="assets/images/footer.png" alt="Imagen">
  <h3>¿Quieres que te contactemos?</h3>
  <div class="contact-form">
    <input type="text" placeholder="Nombre">
    <p>Ingresa número de teléfono o correo electrónico</p>
    <hr>
    <button>Enviar</button>
  </div>
</div>
</section>
