<img class="logos" src="assets/images/logos.png" alt="">

<footer class="footer">
  <div>
    <img class="imgTop" src="assets/images/logoB.png" alt="logo">
  </div>
  <div class="footer-middle">
    <div class="tittle">Siguenos</div>
    <div class="socialImg">
      <img src="assets/images/footer.png" alt="Red Social 1">
    </div>
    <div class="tittle">Cancún</div>
  </div>
  <div class="footer-bottom">
    <ul class="list">
      <li>Inicio | </li>
      <li>Compra | </li>
      <li>Renta | </li>
      <li>Inmuebles | </li>
      <li>Destacados | </li>
      <li>¿Quienes somos?</li>
    </ul>
    <ul class="list">
      <li>Lo que dicen de nosotros | </li>
      <li>Contacto</li>
    </ul>
    <p>Ankyra Realty&reg; Todos los Derechos Reservados 2022 AVISO DE PRIVACIDAD</p>
    <p>Diseño y desarrollo por: DapperTechnologies&reg;</p>
  </div>
</footer>
