
.contenedor {
  bottom: 50px;
  left: 50px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url("../../../assets/images/fondo1.jpg");
  background-size: cover;
  padding: 20px;
  text-align: center;
  color: #ffffff;
}

.contenedor h2 {
  font-size: 24px;
  margin: 0;
  font-weight: normal;
}

.contenedor span{
    font-weight: bold;

}

.contenedor p {
  font-size: 16px;
  margin: 10px 0;
}

.contenedor button {
  background-color: rgb(79, 184, 196);
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 15px;
}
