<div class="container">
  <h1>Invierte en</h1>
  <h1 class="blue-heading">tu patrimonio hoy</h1>


  <div class="toggle-buttons">
    <mat-button-toggle-group class="toggle-group" aria-label="Options">
      <mat-button-toggle value="compra">Compra</mat-button-toggle>
      <mat-button-toggle value="renta">Renta</mat-button-toggle>
    </mat-button-toggle-group>
  </div>

  <div class="select-container">
    <mat-form-field>
      <mat-label>Options</mat-label>
      <mat-select>
        <mat-option value="option1">Terrenos</mat-option>
        <mat-option value="option2">2</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="input-container">
    <mat-form-field>
      <input matInput placeholder="Texto">
    </mat-form-field>
  </div>

  <div class="search-container">
    <button>
      <i class="material-icons">search</i>Buscar
    </button>
  </div>

  <img src="assets/images/home.jpg" alt="Home">
</div>

<app-asesor></app-asesor>
<app-contac></app-contac>
